html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  * {
    box-sizing: inherit;
  }
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
