$baseFontSize: 1rem;
$extraSmallFontSize: 0.875rem;
$mediumFontSize: 1.2rem;
$largeFontSize: 1.5rem;

// Font Sizing
$baseFontSize: 16px;
$baseLineHeight: 1.5;
$headingLineHeight: 1.2;

// Font Weight
$baseFontWeight: 400;
$boldFontWeight: 500;
$bolderFontWeight: 800;

// Colors
$baseFontColor: #74768f;
$blue: #0a157a;
$borderColor: #e5e5e5;
$white: #fbfbfb;

// Breakpoints
$smallBreakpoint: 600px;
$mediumBreakpoint: 768px;
$largeBreakpoint: 992px;
$extraLargeBreakpoint: 1200px;
